# API Configuration
RAPIDAPI_KEY=YOUR_RAPIDAPI_KEY_HERE
RAPIDAPI_HOST=cricbuzz-cricket.p.rapidapi.com
CRICKET_MATCH_ID=105820

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/
MONGO_DB=CrickAnalytics

# SQL Server Configuration
SQL_SERVER=YOUR_SQL_SERVER_NAME_HERE
SQL_DB_NAME=CricketAnalyticsDB
SQL_DRIVER={ODBC Driver 17 for SQL Server}

# Logging Configuration
LOG_LEVEL=INFO
